<!-- NAVIGATION START -->
<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
    <button class="navbar-toggle" ng-class="navbarCollapsed" ng-click=""
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span> 
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <!-- BRAND HEADER -->
      <a ui-sref='/' class="pull-left"><img class="nav-pic" src="/img/fbpic.jpg"></a>
      <a ui-sref='/' class="navbar-brand"><strong>Larry Boniface</strong></a>
    </div>


    <div class="collapse navbar-collapse" ng-class="navbarCollapsed && 'in'">
      <ul class="nav navbar-nav">
        <li><a ui-sref="about">About</a></li>
        <li><a ui-sref="portfolio">Portfolio</a></li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <li><a href="http://linkd.in/1eUt9IK" target="_blank" class="fa fa-linkedin-square fa-lg"></a></li>
        <li><a href="http://bit.ly/1RS3MFG" target="_blank" class="fa fa-github-alt fa-lg"></a></li>
        <li><a href="http://bitly.com/1BTXdwo" target="_blank" class="fa fa-twitter-square fa-lg"></a></li>
        <li><a href="http://t.co/GctMi5Q6o9" target="_blank" class="fa fa-instagram fa-lg"></a></li>
      </ul>
    </div>

  </nav>

