<div class="text-center">
	<h3><strong>Graduated from Villanova in 2009</strong></h3>

	<ul class="list-group">
		<li class="list-group-item">BS in Economics</li>
		<li class="list-group-item">Captain of Villanova Ice Hockey Team</li>
		<li class="list-group-item">If you have never been to a WaWa, you need to...<a target="_blank" href="http://www.buzzfeed.com/bennyjohnson/reasons-why-wawa-is-gas-station-heaven">immediately</a></li>

		<div class="panel panel-default">
			<div class="panel-body about-wrapper">
			<img src="http://ak-hdl.buzzfed.com/static/enhanced/webdr02/2013/2/15/12/enhanced-buzz-14085-1360949893-0.jpg"></div>
		</div>

		
	</ul>

</div>